@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 29 100% 85%;
    --foreground: 28 100% 6%;

    --card: 20 14.3% 4.1%;
    --card-foreground: 0 0% 37%;

    --popover: 20 14.3% 4.1%;
    --popover-foreground: 0 0% 37%;

    --primary: 36 82% 64%;
    --primary-foreground: 20 14.3% 4.1%;

    --secondary: 36 74% 74%;
    --secondary-foreground: 0 0% 37%;

    --muted: 29 100% 85%;
    --muted-foreground: 24 5.4% 63.9%;

    --accent: 29 100% 85%;
    --accent-foreground: 20 14.3% 4.1%;

    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 0 0% 37%;

    --border: 0 0% 0%;
    --input: 0 0% 0%;
    --ring: 20.5 90.2% 48.2%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  display: none;
  -webkit-box-shadow: none;
}
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #00000065;
  border: 1px solid #000;
  border-right-width: 0;
}
